@import "./variables.css";

* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.main--container {
  width: 100vw;
  height: 100vh;
}

/* .map--container {
} */

.map--box {
  background-color:darkcyan;
  display: flex;
  justify-content: center;
}

.map {
  width: 500px;
  height: 500px;
}